@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810353.jpg?w=900&t=st=1680257201~exp=1680257801~hmac=ec1456c61b2c899ab1a3d13b4c853117abe50ee4678b559675f34f8cf6434e3f');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}